<div>
  <h1 style='color: #333; text-align: center;'>Productos</h1>
  <ul
    style='list-style-type: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: center;'
  >
    {{#each products.payload}}
      <li
        class='card'
        style='width: 300px; margin: 20px; padding: 20px; border: 1px solid #ccc; background-color: #f9f9f9; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); display: flex; flex-direction: column; align-items: center; text-align: center;'
      >
        <h2 style='color: #333; margin: 0; font-size: 24px;'>{{this.title}}</h2>
        <p style='margin: 10px 0;'>Precio: ${{price}}</p>
        {{#if thumbnail}}
          <img
            src='{{thumbnail}}'
            alt='{{title}}'
            width='100'
            style='max-width: 100%; height: auto;'
          />
        {{else}}
          <p style='margin: 10px 0;'>Imagen no disponible</p>
        {{/if}}
        <a href="http://localhost:8080/products/{{_id}}">Ver Producto</a>
      </li>

    {{/each}}
  </ul>
  <div id="pagination" style="display: flex; justify-content: center">
    
    {{#if products.hasPrevPage }}
          <a href="{{products.prevLink}}"
          style="padding: 5px;text-decoration: none;color: black;">{{products.prevPage}}</a>
        {{else}}
         <a href=""
          style="padding: 5px;text-decoration: none"></a>
        {{/if}}
    <a href="#" style="color: black;border: 1px solid black;text-decoration: none ">{{products.page}}</a>
    {{#if products.hasNextPage }}
          <a href="{{products.nextLink}}"
          style="padding: 5px;text-decoration: none;color: black;">{{products.nextPage}}...</a>
        {{else}}
          <a href="" style="padding: 5px;text-decoration: none"></a></a>
        {{/if}}
        <label>de {{products.totalPages}}</label>
      
  </div>
</div>